aidapy==0.0.4
autopep8==1.5.4
click==7.1.2
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.2
jupyter==1.0.0
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
matplotlib==3.3.3
nbconvert==6.0.7
notebook==6.1.6
numpy
opencv-python==4.4.0.46
pandas==1.2.0
Pillow==8.0.1
requests==2.25.1
scikit-image==0.18.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.1
Shapely==1.7.1
sunpy==2.0.6
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.0
trixi @ git+https://github.com/MIC-DKFZ/trixi@193c6cfcbe6c28576d3ee745f8a23f88a8029029
virtualenv==20.2.2
visdom==0.1.8.9